In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [80]:
df = pd.read_csv("C:/Users/LENOVO/EDA PRACTISE FOR WEB SCRAPPING/New folder/EDA Excel files/Final_Agmarknet.csv")
df

,State Name,District Name,Market Name,Variety,Group,Arrivals (Tonnes),Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Reported Date,Grade
0,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2000,3500,2800,23 Mar 2025,Local
1,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2500,2800,2600,19 Aug 2025,Local
2,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,03 Jun 2025,Local
3,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,12 Apr 2025,Local
4,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,30 Jan 2025,Local
...,...,...,...,...,...,...,...,...,...,...,...
6812,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,16.0,1000,1700,1200,25 Jun 2025,Local
6813,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,16.0,1000,2000,1200,01 Feb 2025,Local
6814,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,17.5,1000,4000,2000,26 Jul 2025,Local
6815,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,32.0,1000,2500,2000,17 Jun 2025,Local
6816,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,52.0,1000,1500,1200,02 Feb 2025,Local

In [81]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6817 entries, 0 to 6816
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State Name                 6817 non-null   object
 1   District Name              6817 non-null   object
 2   Market Name                6817 non-null   object
 3   Variety                    6817 non-null   object
 4   Group                      6817 non-null   object
 5   Arrivals (Tonnes)          6817 non-null   float64
 6   Min Price (Rs./Quintal)    6817 non-null   int64
 7   Max Price (Rs./Quintal)    6817 non-null   int64
 8   Modal Price (Rs./Quintal)  6817 non-null   int64
 9   Reported Date              6817 non-null   object
 10  Grade                      6817 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 586.0+ KB

# Data Cleaning

## Replacing all blanks with '_' in all column names

In [82]:
df.columns =(
    df.columns
    .str.strip()
    .str.replace(r'\s+', '_', regex=True)
    .str.replace(r'[^A-Za-z0-9_]', '', regex=True)
)
df.rename(columns={
    df.columns[0]: 'State_Name',
    df.columns[1]: 'District_Name',
    df.columns[2]: 'Market_Name',
    df.columns[3]: 'Variety',
    df.columns[4]: 'Group',
    df.columns[5]: 'Arrivals_(Tonnes)',
    df.columns[6]: 'Min_Price_(Rs./Quintal)',
    df.columns[7]: 'Max_Price_(Rs./Quintal)',
    df.columns[8]: 'Modal_Price_(Rs./Quintal)',
    df.columns[9]: 'Reported_Date',
    df.columns[10]: 'Grade'
}, inplace=True)

df.columns

Index(['State_Name', 'District_Name', 'Market_Name', 'Variety', 'Group',
       'Arrivals_(Tonnes)', 'Min_Price_(Rs./Quintal)',
       'Max_Price_(Rs./Quintal)', 'Modal_Price_(Rs./Quintal)', 'Reported_Date',
       'Grade'],
      dtype='object')

In [83]:
df.head()

,State_Name,District_Name,Market_Name,Variety,Group,Arrivals_(Tonnes),Min_Price_(Rs./Quintal),Max_Price_(Rs./Quintal),Modal_Price_(Rs./Quintal),Reported_Date,Grade
0,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2000,3500,2800,23 Mar 2025,Local
1,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2500,2800,2600,19 Aug 2025,Local
2,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,03 Jun 2025,Local
3,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,12 Apr 2025,Local
4,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,30 Jan 2025,Local

# Replace multiple patterns in column names programmatically using RegEx

In [84]:
df.columns = df.columns.str.replace(r"\(|\)|\.","",regex  = True).str.replace("/","_")

In [85]:
df.columns

Index(['State_Name', 'District_Name', 'Market_Name', 'Variety', 'Group',
       'Arrivals_Tonnes', 'Min_Price_Rs_Quintal', 'Max_Price_Rs_Quintal',
       'Modal_Price_Rs_Quintal', 'Reported_Date', 'Grade'],
      dtype='object')

In [86]:
df.head()

,State_Name,District_Name,Market_Name,Variety,Group,Arrivals_Tonnes,Min_Price_Rs_Quintal,Max_Price_Rs_Quintal,Modal_Price_Rs_Quintal,Reported_Date,Grade
0,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2000,3500,2800,23 Mar 2025,Local
1,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2500,2800,2600,19 Aug 2025,Local
2,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,03 Jun 2025,Local
3,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,12 Apr 2025,Local
4,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,30 Jan 2025,Local

In [87]:
df['Variety'] = df['Variety'].replace('Red', 'Red Onion')

In [88]:
df["Variety"].unique()

array(['Beans', 'Brinjal', 'Cabbage', 'Garlic', 'Onion', 'Red Onion',
       'Potato', 'Tomato'], dtype=object)

df.type()

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6817 entries, 0 to 6816
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State_Name              6817 non-null   object
 1   District_Name           6817 non-null   object
 2   Market_Name             6817 non-null   object
 3   Variety                 6817 non-null   object
 4   Group                   6817 non-null   object
 5   Arrivals_Tonnes         6817 non-null   float64
 6   Min_Price_Rs_Quintal    6817 non-null   int64
 7   Max_Price_Rs_Quintal    6817 non-null   int64
 8   Modal_Price_Rs_Quintal  6817 non-null   int64
 9   Reported_Date           6817 non-null   object
 10  Grade                   6817 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 586.0+ KB

## Checking for Null values

In [90]:
df.isnull().values.any()
print("No missing Values in Dataset")

No missing Values in Dataset

In [91]:
df.isnull().sum()

State_Name                0
District_Name             0
Market_Name               0
Variety                   0
Group                     0
Arrivals_Tonnes           0
Min_Price_Rs_Quintal      0
Max_Price_Rs_Quintal      0
Modal_Price_Rs_Quintal    0
Reported_Date             0
Grade                     0
dtype: int64

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6817 entries, 0 to 6816
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State_Name              6817 non-null   object
 1   District_Name           6817 non-null   object
 2   Market_Name             6817 non-null   object
 3   Variety                 6817 non-null   object
 4   Group                   6817 non-null   object
 5   Arrivals_Tonnes         6817 non-null   float64
 6   Min_Price_Rs_Quintal    6817 non-null   int64
 7   Max_Price_Rs_Quintal    6817 non-null   int64
 8   Modal_Price_Rs_Quintal  6817 non-null   int64
 9   Reported_Date           6817 non-null   object
 10  Grade                   6817 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 586.0+ KB

# Dropping unwanted rows(SubTotal / Total)

In [93]:
df = df[~df["District_Name"].str.contains("Total",na = False)]

In [94]:
df

,State_Name,District_Name,Market_Name,Variety,Group,Arrivals_Tonnes,Min_Price_Rs_Quintal,Max_Price_Rs_Quintal,Modal_Price_Rs_Quintal,Reported_Date,Grade
0,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2000,3500,2800,23 Mar 2025,Local
1,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2500,2800,2600,19 Aug 2025,Local
2,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,03 Jun 2025,Local
3,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,12 Apr 2025,Local
4,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,30 Jan 2025,Local
...,...,...,...,...,...,...,...,...,...,...,...
6812,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,16.0,1000,1700,1200,25 Jun 2025,Local
6813,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,16.0,1000,2000,1200,01 Feb 2025,Local
6814,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,17.5,1000,4000,2000,26 Jul 2025,Local
6815,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,32.0,1000,2500,2000,17 Jun 2025,Local
6816,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,52.0,1000,1500,1200,02 Feb 2025,Local

# Renaming Columns for better readability

In [95]:
df = df.rename(columns = {'Reported_Date':'Report_Date','Modal_Price_Rs_Quintal':'Average_Price_Rs_Per_Quintal','Min_Price_Rs_Quintal':'Min_Price_Rs_Per_Quintal','Max_Price_Rs_Quintal':'Max_Price_Rs_Per_Quintal'})

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6817 entries, 0 to 6816
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   State_Name                    6817 non-null   object
 1   District_Name                 6817 non-null   object
 2   Market_Name                   6817 non-null   object
 3   Variety                       6817 non-null   object
 4   Group                         6817 non-null   object
 5   Arrivals_Tonnes               6817 non-null   float64
 6   Min_Price_Rs_Per_Quintal      6817 non-null   int64
 7   Max_Price_Rs_Per_Quintal      6817 non-null   int64
 8   Average_Price_Rs_Per_Quintal  6817 non-null   int64
 9   Report_Date                   6817 non-null   object
 10  Grade                         6817 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 586.0+ KB

In [97]:
df.shape

(6817, 11)

# converting Report Date column to datetime

In [98]:
df['Reported Date'] = pd.to_datetime(
    df['Report_Date'].str.strip(),  # remove extra spaces
    format="%d %b %Y",  # example: "03 Jun 2025"
    errors="coerce"     # still gives NaT if mismatch
)

In [99]:
df

,State_Name,District_Name,Market_Name,Variety,Group,Arrivals_Tonnes,Min_Price_Rs_Per_Quintal,Max_Price_Rs_Per_Quintal,Average_Price_Rs_Per_Quintal,Report_Date,Grade,Reported Date
0,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2000,3500,2800,23 Mar 2025,Local,2025-03-23
1,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2500,2800,2600,19 Aug 2025,Local,2025-08-19
2,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,03 Jun 2025,Local,2025-06-03
3,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,12 Apr 2025,Local,2025-04-12
4,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,30 Jan 2025,Local,2025-01-30
...,...,...,...,...,...,...,...,...,...,...,...,...
6812,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,16.0,1000,1700,1200,25 Jun 2025,Local,2025-06-25
6813,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,16.0,1000,2000,1200,01 Feb 2025,Local,2025-02-01
6814,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,17.5,1000,4000,2000,26 Jul 2025,Local,2025-07-26
6815,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,32.0,1000,2500,2000,17 Jun 2025,Local,2025-06-17
6816,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,52.0,1000,1500,1200,02 Feb 2025,Local,2025-02-02

In [100]:
df.drop('Report_Date', axis=1, inplace=True)

In [101]:
df

,State_Name,District_Name,Market_Name,Variety,Group,Arrivals_Tonnes,Min_Price_Rs_Per_Quintal,Max_Price_Rs_Per_Quintal,Average_Price_Rs_Per_Quintal,Grade,Reported Date
0,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2000,3500,2800,Local,2025-03-23
1,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2500,2800,2600,Local,2025-08-19
2,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,Local,2025-06-03
3,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,Local,2025-04-12
4,Maharashtra,Kolhapur,Vadgaonpeth,Beans,Pulses,0.3,2800,3500,3000,Local,2025-01-30
...,...,...,...,...,...,...,...,...,...,...,...
6812,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,16.0,1000,1700,1200,Local,2025-06-25
6813,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,16.0,1000,2000,1200,Local,2025-02-01
6814,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,17.5,1000,4000,2000,Local,2025-07-26
6815,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,32.0,1000,2500,2000,Local,2025-06-17
6816,Maharashtra,Kolhapur,Vadgaonpeth,Tomato,Vegetables,52.0,1000,1500,1200,Local,2025-02-02

## Droping State and Grade column
We choosen the Maharashtra's Agriculture data random district wise, so their is state name remain same for all district.
not necessory to have Grade in our data.

In [102]:
df = df.drop(columns = ['State_Name','Grade'])

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.dtypes

# Sorting the dataframe by Report_Date

In [103]:
df = df.sort_values('Reported Date')
df.head()

,District_Name,Market_Name,Variety,Group,Arrivals_Tonnes,Min_Price_Rs_Per_Quintal,Max_Price_Rs_Per_Quintal,Average_Price_Rs_Per_Quintal,Reported Date
443,Nashik,Nasik,Beans,Pulses,55.0,2000,4500,3800,2024-11-01
457,Nashik,Nasik,Beans,Pulses,65.5,1800,5000,3200,2024-11-02
454,Nashik,Nasik,Beans,Pulses,62.0,1600,5500,4500,2024-11-03
460,Nashik,Nasik,Beans,Pulses,74.8,1800,5300,3800,2024-11-04
480,Nashik,Nasik,Beans,Pulses,1288.0,2000,5000,3600,2024-11-05

# converting csv

In [104]:
df.to_csv("ready for Visualization.csv", index=False)

In [106]:
import os

os.getcwd()

'C:\\Users\\LENOVO\\EDA PRACTISE FOR WEB SCRAPPING\\New folder\\EDA Excel files'

In [107]:
df.head()

,District_Name,Market_Name,Variety,Group,Arrivals_Tonnes,Min_Price_Rs_Per_Quintal,Max_Price_Rs_Per_Quintal,Average_Price_Rs_Per_Quintal,Reported Date
443,Nashik,Nasik,Beans,Pulses,55.0,2000,4500,3800,2024-11-01
457,Nashik,Nasik,Beans,Pulses,65.5,1800,5000,3200,2024-11-02
454,Nashik,Nasik,Beans,Pulses,62.0,1600,5500,4500,2024-11-03
460,Nashik,Nasik,Beans,Pulses,74.8,1800,5300,3800,2024-11-04
480,Nashik,Nasik,Beans,Pulses,1288.0,2000,5000,3600,2024-11-05

In [108]:
df.tail()

,District_Name,Market_Name,Variety,Group,Arrivals_Tonnes,Min_Price_Rs_Per_Quintal,Max_Price_Rs_Per_Quintal,Average_Price_Rs_Per_Quintal,Reported Date
5738,Ahmednagar,Rahata,Tomato,Vegetables,2.5,500,2000,1200,2025-08-20
5933,Nashik,Nasik,Tomato,Vegetables,155.0,350,4000,2500,2025-08-20
5192,Thane,Kalyan,Potato,Vegetables,0.6,650,1050,850,2025-08-20
4183,Nashik,Nasik,Garlic,Spices,0.6,4500,13000,7300,2025-08-20
1013,Pune,Manchar,Brinjal,Vegetables,1.4,1300,2500,1900,2025-08-20

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6817 entries, 443 to 1013
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   District_Name                 6817 non-null   object
 1   Market_Name                   6817 non-null   object
 2   Variety                       6817 non-null   object
 3   Group                         6817 non-null   object
 4   Arrivals_Tonnes               6817 non-null   float64
 5   Min_Price_Rs_Per_Quintal      6817 non-null   int64
 6   Max_Price_Rs_Per_Quintal      6817 non-null   int64
 7   Average_Price_Rs_Per_Quintal  6817 non-null   int64
 8   Reported Date                 6817 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 532.6+ KB